<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="layoutStyles.css">
	<title> Layout Tutorial </title>
</head>
<body>
	<header>
		<h1> This is the header of my website using the header division </h1> 
	</header>
	<nav>
		<a href=#home> Home </a>
		<a href=#about> About </a>
		<a href=#contact> Contact </a>
	</nav>
	
	<section>
		<article> 
			<h3> Random section about absolutly nothing </h3>
			<p> This is a tutorial about an important topic</p>
		</article>
	</section>
	
	<footer>
		<p id="bottom"> Copyright </p>
	</footer>
</body>
</html>