body{
	background-color: #F2F0EF;
}

h1 {
	text-align: center;
}

strong{
	color: pink;
}

a:hover {
	color: pink ;
}

a{
	color: gray;
	text-decoration: none;
}

img{
	border: 1px solid grey;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}